name: Testing package

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.release.tag_name }}
    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        # architecture: 'x64'

    - name: Setup pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-3.10-${{ hashFiles('package.json') }}
        restore-keys: |
          ${{ runner.os }}-pip-3.10-
    - name: Build extension package
      run: |
        python3 -m pip install hatch

        hatch build
